.flag {
  margin-left: 100px;
  padding-top: 28px;
}
.card-body {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  margin-top: 50px;
}
.countries-card {
  font-size: 48px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.list-countries {
  list-style: none;
}

.form-input {
  font-size: 54px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.form-body {
  text-align: center;
}

.hendel-h2 {
  font-size: 42px;
}
.hendel-list {
  font-size: 20px;
}
p {
  font-size: 28px;
}
